* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    margin-left: 60%;
    justify-content: space-evenly;
    place-items: right;
    vertical-align: middle;
    list-style: none;
    justify-content: space-evenly;
    display: flex
}

a {
    text-decoration: none;
    color: rgb(17, 112, 65);
}

main {
    background-image: url("angel.jpeg");
    background-size: cover;
    background-position: center;
    color: aliceblue;
    height: 550px;
}

h1 {
    text-align: left;
    font-size: 40px;
    margin-left: 41%;
}

h2 {
    text-align: left;
    font-size: 30px;
    margin-left: 17%;
}

h3 {
    text-align: left;
    font-size: 18px;
    margin-left: 33%;
}
footer{
    text-align: center;
}